.anuncio__infos {
    margin-bottom: 2rem;
}

.anuncio__infos .card-text {
    display: flex;
    padding: .5rem;
}

.anuncio__infos .card-text:first-child {
    border-radius: .25rem .25rem 0 0;
}

.anuncio__infos .card-text:last-child {
    border-radius: 0 0 .25rem .25rem;
}

.anuncio__infos .card-text:nth-child(2n + 1) {
    background-color: #ddd;
}

.anuncio__infos div.card-text span {
    font-weight: 1.25rem;
}

.anuncio__infos div.card-text span:first-child {
    width: 7.5rem;
    flex-shrink: 0;
    text-align: right;
    padding-right: .75rem;
}

.anuncio__infos div.card-text span:last-child {
    font-weight: 400;
    color: #444;
}

.anuncio__infos .btn-light:not(:last-child) {
    margin-bottom: 1rem;
}

.section__titulo.anuncio {
    flex-direction: column;
    align-items: flex-start;
}

.section__titulo.anuncio .text-muted {
    margin-bottom: 0;
    margin-top: .5rem;
}

.anuncio__comprar {
    margin-bottom: 1rem;
}

.anuncio__preco {
    font-size: .75rem;
    font-weight: 700;
    text-align: right;
    line-height: 1.25rem;
    padding-bottom: 0;
    margin-bottom: 0;
}

.anuncio__comprar > .card-body > div:nth-child(2) {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 1rem 0;
    margin: 1rem 0;
}

.anuncio__preco span {
    font-size: 3rem;
    line-height: 3rem;
    color: #28a745;
}

.anuncio__preco p {
    margin-top: .5rem;
    color: #666;
}

.anuncio__frete form {
    display: flex;
    align-items: center;
}

.anuncio__frete form p {
    flex-shrink: 0;
    padding-right: .5rem;
    font-size: .75rem;
    margin: 0;
}

.anuncio__frete form .btn {
    margin-left: .5rem;
}

.anuncio__frete--valor {
    display: flex;
    justify-content: space-between;
    text-align: right;
    /* font-size: .75rem; */
    padding-top: .75rem;
}

.anuncio__frete--valor span:last-child {
    font-weight: 400;
    color: #666;
    margin-left: .25rem;
}

.anuncio__botao .btn {
    width: 100%;
}

.anuncio__vendedor h5 {
    margin-bottom: 0;
}

.anuncio__rating {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.anuncio__nota i {
    font-size: 1.125rem;
    color: #f7b600;
}

.anuncio__avaliacoes {
    margin-left: .5rem;
    font-size: .75rem;
}

.anuncio__perguntaForm {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1.5rem;
}

.anuncio__perguntaForm form {
    display: flex;

}

.anuncio__perguntaForm textarea {
    resize: none;
    margin-right: 1rem;
}

.anuncio__pergunta {
    border-bottom: 1px solid #ddd;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
}

.anuncio__perguntaUsuario {
    display: flex;
}

.anuncio__imagemPerfil {
    width: 4rem;
    flex-shrink: 0;
}

.anuncio__imagemPerfil i {
    font-size: 3.5rem;
    line-height: 3.5rem;
    margin-bottom: .5rem;
    display: block;
}

.anuncio__imagemPerfil span {
    font-size: .75rem;
    color: #666;
    display: block;
    width: 100%;
    text-align: center;
}

.anuncio__perguntaTexto span {
    font-size: .75rem;
}

.anuncio__perguntaResposta {
    padding-left: 4rem;
}

.anuncio__perguntaResposta p {
    margin: 0;
    font-weight: 400;
    color: #666;
    margin-bottom: .25rem;
}

.anuncio__perguntaResposta span {
    font-weight: 400;
    font-style: italic;
    font-size: .75rem;
}

.anuncio__perguntas {
    margin-bottom: 2rem;
}

.anuncio__perguntaCarregarMais .btn {
    width: 30rem;
}