/* 
    laranja header: #f7b600
*/

* {
	margin: 0;
	padding: 0;
}

body{
	font-size: .875rem;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #F0F0F0;
	font-weight: bold;	
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f7b600;
    width: 100%;
    z-index: 1000;
}
main {
    padding-top: 3.5rem;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0;
}

.header__logo h1 {
	color: #4e4e4e;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
    margin: 0;
}

.branco {
    color: white;
}

.header__usuario, .header__logo {
    flex: 1;
}

.header__pesquisa {
    flex: 2;
    padding: 0 1rem;
}

.header__pesquisa select {
    font-size: .75rem;
    border-radius:.25rem 0 0 .25rem;
    height: 100%;
    border: 1px solid #6c757d;
    width: 8rem;
}

.header__pesquisa input {
    border-radius:  0;
    border: 1px solid #6c757d;
    border-left: 0;
    height: 100%;
}

.header__pesquisa form {
    display: flex;
    height: 38px;
}

.header__pesquisa .input-group-append {
    height: 100%;
}

.header__pesquisa .dropdown-toggle {

}

.header__usuario {
    display: flex;
    justify-content: flex-end;
}

.header__usuario .dropdown-toggle::after {
    display: none;
}

.header__usuario .btn {
    margin-left: 1rem;
}

footer {
    width: 100%;
    background-color: #CCC;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    height: 4rem;
}

.footer__container address {
    margin: 0;
}

.footer__container img {
    margin-right: 1rem;
    height: 100%;
    width: auto;
}

.section__titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.2);

}

.section__titulo h1 {
    font-size: 1.75rem;
    line-height: 2.25rem;
    margin: 0;
}

.modal .alert-danger {
    margin: 0;
    margin-top: 1rem;
    display: none;
}

.modal .alert-danger.show {
    display: block;
}

.modal .login-submit {
    text-align: right;
}

.modal .login-submit .btn {
    width: 100%;
}