.novo__endereco form:first-child {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
}

.novo__endereco form:first-child span {
    padding-right: 1rem;
}

.novo__endereco form:first-child input {
    width: 10rem;
    margin-right: 1rem;
}

.novo__endereco form:last-child input{
    margin-bottom: 1.25rem;
}

.atual__endereco p {
    margin: 0
}

.atual__endereco p:not(:first-child) {
    margin-top: .75rem;
}

.atualBtn {
    padding-top: 10px;
    text-align: right;
}

.form__pagamento input {
    margin-bottom: 1rem;
}

.form__pagamento .btn {
    width: 15rem;
}

.card__pagamento {
    margin-bottom: 2rem;
}

.boleto__botao {
    padding: 1.25rem 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1.25rem;
}

.boleto__botao .btn {
    width: 15rem;
}

.boleto__texto p:last-child {
    font-weight: 400;
    color: #666;
    margin: 0;
}

.boleto__texto ul {
    padding-left: 2rem;
    margin-bottom: 1rem;
    
}

.boleto__texto li {
    color: #666;
    font-weight: 400;
}

.rating {
    /* display: inline-block; */
    width: max-content;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > label { 
  color: #ddd; 
  margin: 0;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }


.compraFinalizada {
    text-align: center;
}

.compraFinalizada i {
    color: limegreen;
    margin-bottom: 1rem;
    font-size: 3rem;    
}